<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form method="POST">
        <label for="nome">Nome do Evento:</label>
        <input type="text" name="nome" id="nome">
        <hr>

        <label for="data">Data:</label>
        <input type="date" name="data" id="data">
        <hr>

        <label for="hora_ini">Hora de Inicio:</label>
        <input type="time" id="hora_ini" name="hora_inicio">
        <hr>

        <label for="hora_fim">Hora de Termino</label>
        <input type="time" id="hora_fim" name="hora_fim">
        <hr>

        <label for="desc">Descrição</label>
        <input type="text" id="desc" name="descricao">
        <hr>

        <label for="qtd-visi">Quantidade de Visitantes:</label>
        <input type="number" name="visitantes" id="qtd-visi">

        <input type="submit" value="Submit">
    </form>
</body>

</html>